body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.coming-soon{
  width: 300px;
  height: 350px;
  
}

.main-container{
  width: 500px;
  margin:auto;
}
nav{
  /* border: 1px solid red; */
  height: 30px;
  box-shadow: 0 4px 8px -2px lightgray;
}
ul{
  display: flex;
  width: 480px;
  justify-content: space-between;

}

ul li {
  list-style: none;
  text-decoration: none;
}

.panel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 90%;
  margin: 0 0 0 20px;
  border: 1px solid red;
}

.panel button{
  width: 100px;
  height: 32px;
}


.product-catalog{
  position: absolute;
  width: 90%;
  height: 350px;
  margin: 0 0 0 20px;
  border: 1px solid yellowgreen;
  top: 25%;
  left: 2%;;
}

.product-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 10%;
}
.product-child{
  border: 1px solid darkgray;
  width: 100px;
  height: 30px;
}
.headline{
  width: 520px;
  border: 1px solid red;
  margin: 50px 0 0 0;
}
.headline li{
  font-weight: bolder;
  border: 1px solid red;
  width: fit-content;
}

.product-catalog-inner:nth-child(odd){
  background-color:darkgrey;
} 

.filter-form{
  margin-bottom: 0;
  border: 1px solid red;
  height: 32px;
}

.create-btn{
  position: absolute;
  top: 92%;
  left: 10%;
  background-color: steelblue;
  color: #fff;
  font-weight: bolder;
  border: none;
  height: 30px;
  border-radius: 3px;
}

.the-form{
  height: 550px;
  width: 500px;
  margin: 0 0 0 40px;
  display: flex;
  flex-direction: column;
}

.the-form-element{
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-top: 10px;
  margin-bottom: 14px;
}

hr {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}



.the-form input[type="text"], input[type="number"], input[type="date"]{
  border: 1px solid lightslategrey;
  border-radius: 2px;
  width: 200px;
  height: 22px;
}

.btn-group{
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin: 10px 0 0 160px;
}

.btn-save{
  background-color: green;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  height: 30px;
  width: fit-content;
  cursor: pointer;
}
.btn-back{
  background-color: gray;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  height: 30px;
  width: fit-content;
  cursor: pointer;
}
.btn-cancel{
  background-color: red;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  height: 30px;
  width: fit-content;
  cursor: pointer;
}

.delete-container-outer{
  height: 540px;
  width: 500px;
  margin: 0 0 0 40px;
}
.delete-container{
  height: 490px;
  width: 500px;
  margin: 0;
}
.delete-container h1{
  margin-bottom: 5px;
}
.delete-container h3{
  margin-top: 0;
  margin-bottom: 15px;
  background-color: pink;
  text-align: center;
  min-height: 30px;
  padding: 10px;
  border-radius: 3px;
}

.delete-field{
  display: flex;
  align-items: center;
  width: 495px;
  max-height: 30px;
}

.delete-field h4{
  min-width: 158px;
}

.delete-field p{
  max-height: 25px;
  width: 350px;
  margin-left: 5px;
}

.delete-btn-group{
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.btn-delete-product{
  height: 35px;
  width: fit-content;
  background-color: red;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  padding: 10px;
}

.btn-cancel-back{
  height: 35px;
  width: fit-content;
  background-color: rgb(0, 140, 255);
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  padding: 10px;
}

footer{
  position: absolute;
  top: 100%;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid lightslategray;
}

.footer-container{
margin-left: 20px;
}
